<div id="meme-details-page">
  <h1>Select your captions</h1>
  <div class="meme-wrapper">
    <ng-container *ngIf="!getMemesCallRunning && memeUrl.length > 0">
      <div class="meme-img-container">
        <img [src]="createdMemeUrl ? createdMemeUrl : memeUrl" alt="" />
      </div>
      <div class="caption-input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>first caption</mat-label>
          <input matInput name="firstCaption" [(ngModel)]="userCaptions.first" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>second caption</mat-label>
          <input matInput name="secondCaption" [(ngModel)]="userCaptions.second" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createMeme()" [disabled]="userCaptions.first.length === 0 && userCaptions.second.length === 0" *ngIf="!createdMemeUrl">Generate</button>
        <button mat-button color="primary" (click)="createMeme()" [disabled]="userCaptions.first.length === 0 && userCaptions.second.length === 0" *ngIf="createdMemeUrl">Generate new</button>
        <a mat-raised-button color="primary" [href]="createdMemeUrl" [download]="'custom-meme.png'" target="_blank" *ngIf="createdMemeUrl">Download</a>
        <span *ngIf="errorMessage">{{errorMessage}}</span>
      </div>
    </ng-container>
    <span *ngIf="getMemesCallRunning && memeUrl.length === 0">Loading...</span>
    <div *ngIf="!getMemesCallRunning && memeUrl.length === 0">
      <span
        >Internet connection error. Please make sure you are connected to the
        internet and
      </span>
      <button mat-button color="primary" (click)="getRespMemeOutOfAll()">
        try again
      </button>
    </div>
  </div>
</div>
